
<nav class="navbar  fixed-top  navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">@_AppState.GetWebsiteName()</a>
    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link" href="http://shekharroy.com">About</a>
            </li>
        </ul>
    </div>
</nav>


@using System.Threading.Tasks;
@inject AppState _AppState;


@code{
    protected override async void OnInitialized()
    {
        await Task.Delay(100);
        base.StateHasChanged();
    }
}