@page "/"
@using System.Threading.Tasks;
@inject AppState _AppState;

<div class="row mx-auto justify-content-center align-items-center flex-column ">
    <div class="col-6 mt-5 mb-5">

        <h3>Welcome To @_AppState.GetWebsiteName()</h3>

    </div>
</div>
@code{
    protected override async void OnInitialized()
    {
        await Task.Delay(100);
        base.StateHasChanged();
    }
}